@font-face {
  font-family: "almarai-bold";
  src: url(Almarai-Bold.ttf);
}
@font-face {
  font-family: "almarai-regular";
  src: url(Almarai-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue-color: #0093ff;
  --blue-hover-color: #005491;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}

#js-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  margin-top: 30px;
  width: 400px;
}

img {
  width: 25%;
  margin: auto;
}
span {
  color: var(--blue-color);
  text-align: center;
  font-size: 33px;
  margin-bottom: 30px;
  font-family: "almarai-bold", sans-serif !important;
}

input,
textarea,
button {
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "almarai-regular", sans-serif !important;
  background-color: #161616;
  border: none;
  font-size: 17px;
  line-height: 33px;
  outline: none;
  text-align: center;
}

input {
  color: var(--blue-color);
}

textarea {
  resize: vertical;
  color: var(--blue-color);
  position: relative;
  display: inline-block;
  width: 100%;
}

#js-additional-info-container,
#js-conditions-container {
  position: relative;
  width: calc(100% - 40px);
}

#js-additional-info-container span,
#js-conditions-container span {
  width: 30px;
  height: 30px;
  background-color: var(--blue-color);
  color: white;
  position: absolute;
  top: 0;
  left: -40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-family: "almarai-regular", sans-serif;
  transition: background-color 0.3s;
}

#js-additional-info-container span:hover,
#js-conditions-container span:hover {
  background-color: var(--blue-hover-color);
}

button {
  background-color: var(--blue-color);
  color: white;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--blue-hover-color);
}
